# ==============================================================================
# The `vscodeignore` file is used to exclude certain files and directories
# from extension packages.
# ==============================================================================
